<div id="contact" class="container content-section-landing text-center">
  <!-- <h2>Contact</h2> -->


  <div class="row text-left">
    <div class="col-sm-4">
      <div class="card-block">
        <p class="card-text">
          <strong>Shu Zhao</strong>
          <div class="hline-w"></div>
          Painter, Writer, Mother and Programmer<br>
          <a href="mailto:{{site.email}}">{{site.email}}</a><br>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card-block">
        <p class="card-text">
          <i class="fa fa-building"></i> Where to find me
          <div class="hline-w"></div>
          <strong>Universiteit Utrecht</strong><br>
          Victor J. Koningsberger building - Faculty of Science<br>
          Budapestlaan 4a-b, 3584 CD Utrecht<br>
          The Netherlands<br>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card-block">
        <p class="card-text">
          <i class="fa fa-building"></i> Social media
          <div class="hline-w"></div>
          <ul class="social-media-list" style="list-style: none;">
            <li>
              <a target="_blank" href="{{site.linkedin}}">
                <i class="fa fa-linkedin " style="color:gray"></i> Shu Zhao</a>
            </li>
            <li>
              <a target="_blank" href="{{site.instagram}}">
                <i class="fa fa-instagram" style="color:gray"></i> nezumikozo
              </a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/{{site.github}}">
                <i class="fa fa-github" style="color:gray"></i> {{site.github}}
              </a>
            </li>
          </ul>
      </div>
    </div>

  </div>
</div>
